@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  padding-bottom: 250px;
  overflow-x: hidden;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

:root {
  --background-color: #4D4C73;
  --white: #ffffff;
  --tw-color1: #a855f7;
  --tw-color1-hover: #9333ea;
}

body {
  background: var(--background-color);
  font-family: "Pixelify Sans", sans-serif;
  color: var(--white);
  display: flex;
  margin: 0;
  text-align: center;
}

h2 {
  font-size: 2rem;
}
button.tw-web3button.css-12qsc68 {
  clip-path: polygon( /* top left */ 0 4px, 4px 4px, 4px 0, /* top right */ calc(100% - 4px) 0, calc(100% - 4px) 4px, 100% 4px, /* bottom right */ 100% calc(100% - 4px), calc(100% - 4px) calc(100% - 4px), calc(100% - 4px) 100%, /* bottom left */ 4px 100%, 4px calc(100% - 4px), 0 calc(100% - 4px) );
  box-shadow: /* bottom right */ inset -4px -4px 0px rgba(0, 0, 0, 0.2), /* top left */ inset 4px 4px 0px rgba(255, 255, 255, 0.2);
}